.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: calc(100dvh - 3rem); /* Ajusta 3rem si tu navbar tiene otra altura */
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.open {
    transform: translateY(3rem);
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #00000024;
    padding: 1rem;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    height: 100%;
}

.sidebar-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    border-bottom: 1px solid #00000024;
    padding: 0 1rem;
}

.sidebar-nav-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}