<aside class="sidebar" [class.open]="open">
    <header class="sidebar-header">
        <h2>Welcome</h2>
        <p>
            Ohana means family. Family means nobody gets left behind or forgotten
        </p>
    </header>

  <nav>
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="#">Buy Products</a></li>
      <li class="sidebar-nav-item"><a href="#">Tutorials</a></li>
      <li class="sidebar-nav-item"><a href="#">Contact</a></li>
      <li class="sidebar-nav-item"><a href="#">Login</a></li>
    </ul>
  </nav>
</aside>