/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  user-select: none;
  -webkit-user-select: none; /* Para Safari */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para IE/Edge */
}